<div class="jumbotron">
    <h1>Rets Rabbit APIs</h1>
    <p>We currently offer two separate APIs each with various strengths allowing you as the developer to build awesome realstate products.</p>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><strong class="text-lg">V1</strong></div>
                <div class="panel-body">
                    <p>The original API offers a variety of query methods allowing developers to perform powerful queries such as wildcard searching.</p>
                    <a ui-sref="app.explorer-v1" class="btn btn-primary">Try it out</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><strong class="text-lg">V2</strong></div>
                <div class="panel-body">
                    <p>This API is RESO compliant which means it follows ODATA standards of data structure and query mechanisms.</p>
                    <a ui-sref="app.explorer-v2" class="btn btn-primary">Try it out</a>
                </div>
            </div>
        </div>
    </div>
</div>