<div class="jumbotron">
	<div id="tutorial-example-queries">
	    <h3>Example Queries 
	    	<button class="right btn btn-info" ng-click="Explorer.data.queriesCollapsed = !Explorer.data.queriesCollapsed">
	    		<span ng-show="Explorer.data.queriesCollapsed">Show</span>
	    		<span ng-hide="Explorer.data.queriesCollapsed">Hide</span>
	    	</button>
	    </h3>
	    <p>Test out the API with these prebuilt queries!</p>
    </div>
    <div class="row collapse in" uib-collapse="Explorer.data.queriesCollapsed">
        <div ng-repeat="query in Explorer.data.queries">
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{query.title}}</h3>
                    </div>
                    <div class="panel-body">
                        {{query.description}}
                        <br>
                        <br>
                        <a href="#explorer-box" class="btn btn-success" offset="80" du-smooth-scroll ng-click="Explorer.fillQuery(query)">Try it out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="explorer-box">
    <div class="col-sm-12">
        <div api-explorer search="Explorer.data.fillQuery" loader="'public/img/default.gif'"></div>
    </div>
</div>
<div class="sidebar metadata" ng-hide="Explorer.data.metadata.hidden">
    <div class="handle" id="tutorial-fields" ng-click="Explorer.toggleMeta()" ng-class="{open: !Explorer.data.metadata.hidden}">
        Fields
    </div>
    <div class="sidebar-content-wrapper">
        <div class="field-search">
            <input type="text" ng-model="Explorer.data.metadata.search" ng-change="Explorer.filterMeta()" placeholder="Search..." class="form-control">
        </div>
        <div class="field-list">
            <ul>
                <li ng-repeat="field in Explorer.data.metadata.fields | orderBy:'name'">
                    {{field.name}}:<span>{{field.type}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="sidebar query-info" ng-hide="Explorer.data.query_info.hidden">
    <div class="handle" id="tutorial-query-info" ng-click="Explorer.toggleQueryInfo()" ng-class="{open: !Explorer.data.query_info.hidden}">
        Query
    </div>
    <div class="sidebar-content-wrapper">
        <h4 class="text-center">Parameters</h4>
        <h5 class="text-center text-white">Read the full <a href="http://retsrabbit.com/docs/v2" target="_blank">docs</a></h5>
        <hr>
        <div class="scrollable">
            <ul>
                <li>
                    <div class="filter-type">$select:</div>
                    <p>Occasionally you don't want to return all of the data available for a resource. You can use the $select option to limit the fields that are returned for a request.</p>
                </li>
                <li>
                    <div class="filter-type">$filter:</div>
                    <p>Filtering properties by field values can be accomplished using the $filter option. All of the names in the $filter option are case-sensitive and match the name of the fields provided by the property resource.</p>
                    <div class="filter-type">comparison:</div>
                    <ul>
                        <li>eq : <span class="text-white">equals</span></li>
                        <li>lt : <span class="text-white">less than</span></li>
                        <li>le : <span class="text-white">less than or equals</span></li>
                        <li>gt : <span class="text-white">greater than</span></li>
                        <li>ne : <span class="text-white">not equals</span></li>
                    </ul>
                    <div class="filter-type">logical:</div>
                    <ul>
                        <li>and</li>
                        <li>or</li>
                        <li>not</li>
                    </ul>
                    <div class="filter-type">string functions:</div>
                    <ul>
                        <li>contains: <span class="text-white">contains(&lt;field&gt;, 'oh')</span></li>
                        <li>endswith: <span class="text-white">endswith(&lt;field&gt;, 'ew')</span></li>
                        <li>startswith: <span class="text-white">startswith(&lt;field&gt;, 'Pa')</span></li>
                        <li>tolower: <span class="text-white">tolower(&lt;field&gt;) eq 't'</span></li>
                        <li>toupper: <span class="text-white">toupper(&lt;field&gt;) eq 'y'</span></li>
                    </ul>
                    <div class="filter-type">date functions:</div>
                    <ul>
                        <li>year: <span class="text-white">year(&lt;field&gt;) eq 6</span></li>
                        <li>month: <span class="text-white">month(&lt;field&gt;) eq 6</span></li>
                        <li>day: <span class="text-white">day(&lt;field&gt;) eq 6</span></li>
                        <li>hour: <span class="text-white">hour(&lt;field&gt;) eq 6</span></li>
                        <li>minute: <span class="text-white">minute(&lt;field&gt;) eq 6</span></li>
                        <li>second: <span class="text-white">second(&lt;field&gt;) eq 6</span></li>
                        <li>date: <span class="text-white">date(&lt;field&gt;) eq date(&lt;field&gt;)</span></li>
                        <li>time: <span class="text-white">time(&lt;field&gt;) ne &lt;field&gt;</span></li>
                        <li>now: <span class="text-white">&lt;field&gt; ne now()</span></li>
                    </ul>
                </li>
                <li>
                    <div class="filter-type">$orderby:</div>
                    <p>You can sort listings using the $orderby option. Just specify the field and the direction of the sort.</p>
                </li>
                <li>
                    <div class="filter-type">$top:</div>
                    <p>Designates the maximum number of matching items returned.</p>
                </li>
                <li>
                    <div class="filter-type">$skip:</div>
                    <p>Designates the number of matching items to omit before returning any items.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--
<div class="sidebar tutorial" ng-hide="Explorer.data.tutoral.hidden">
    <div class="handle" ng-click="Explorer.startTutorial()">
        Tutorial
    </div>
</div>
-->
